version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - orbit-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public
      NODE_ENV: production
      PORT: ${BACKEND_PORT}
      FRONTEND_URL: ${FRONTEND_URL}
    env_file:
    - .env
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    networks:
      - orbit-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: front
    restart: always
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: ${BACKEND_URL}
    ports:
      - "3001:3000"
    networks:
      - orbit-network

volumes:
  postgres_data:

networks:
  orbit-network:
    driver: bridge
