.txList {
  background: #1e293b;
  border-radius: 12px;
  padding: 1.5rem;
  border: 1px solid #334155;
  // margin-bottom: 1.5rem;
  overflow-y: auto; /* Scroll se ficar muito grande */

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
  }
}

.loading, .empty {
  color: #94a3b8;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}

.txItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #334155;

  &:last-child {
    border-bottom: none;
  }

  /* Agrupa Data + Descrição na esquerda */
  .leftGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /* Agrupa Valor + Botão na direita */
  .rightGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .txDate {
    color: #94a3b8;
    font-size: 0.85rem;
    font-family: monospace;
    background: #0f172a;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .txInfo {
    display: flex;
    flex-direction: column;

    .txDesc {
      color: #f1f5f9;
      font-weight: 500;
      font-size: 0.95rem;
    }

    .txCat {
      font-size: 0.75rem;
      margin-top: 2px;
      font-weight: 600;
    }
  }

  .txAmount {
    font-weight: 700;
    font-size: 0.95rem;

    &.isIncome {
      color: #10b981;
    }
    &.isExpense {
      color: #ef4444;
    }
  }

  .deleteBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px;
    border-radius: 4px;
    opacity: 0.4;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}